#content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.bulb-on {
  color: gold !important;
}
@keyframes spin {
  100% {
    transform: rotate(-1turn);
  }
}
.fan-on {
  color: red;
  animation: spin 3s linear infinite;
}
.warning-on {
  color: red !important;
}
